<div class="newsletter" id="mc_embed_signup">
	  <h2 class="newsletter-title">Comments /评论</h2>
	  <div class="form-container">
	    <p></p>

	      <label class="screen-reader-text" for="mce-EMAIL">Email Address</label>
	      <div class="newsletter-box" id="mc_embed_signup_scroll">
	        <input type="email" name="EMAIL" placeholder="你想说点什么？" class="email-input" id="mce-EMAIL" required>
	        <input type="submit" value="评论" name="评论"onclick="show()"class="subscribe-btn" >
	      </div>
	    </form>
	  </div>
	</div> <!-- End Newsletter -->


<script>
function show(){
alert('Hahaha I DONT GIVE A DAMN WHAT YOU THINK.');
}
</script>
<!--<input type="button" value="点我" onclick="show()"/> id="mc-embedded-subscribe"
 <input type="submit" value="Subscribe" name="subscribe" class="subscribe-btn" id="mc-embedded-subscribe">
	    <form action="//{{ site.mailchimp }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
-->


